<h1>About Simplemail</h1>
<p>Once upon a time, there was a girl who received (what she thought) was way too many emails. She decided that there needed to be a program that solved this problem by allowing her to spend 5 minutes a day on email -- and then work the rest of the day. That is how Simplemail was born.</p>
<p>To solve your email problems, <%= link_to "Sign Up", root_path %>.<p>